::-webkit-scrollbar { width: 0;}

.wrap {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
button, a, input {
    transition: all 100ms linear 0s;
    &:hover {
        opacity: 0.75;
    }
    &:active {
        opacity: 0.5;
    }
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 5px;
    button {
        width: 100%;
        height: 40px;
        background: none;
        border: 2px grey solid;
        border-radius: 10px;
        font-size: 20px;
    }
}
.main-page {
    .save-note, .cancel-note, .delete-note, .edit {
        display: none;
    }
}
.notes {
    width: 100%;    
    height: 100%;
    display: flex;
    flex-direction: column;
}
.note {
    width: 100%;
    max-height: 37.5vw;
    border: 2px grey solid;
    border-radius: 10px;
    margin: 5px 0;
    padding: 5px 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    &__title {
        font-weight: 700;
        padding-bottom: 5px;
    }
    &__text {
        overflow: hidden;
    }
    &__delete {
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        font-size: 25px;
        &:hover {
            color: red;
            opacity: 1;
            background-color: #fff;
        }
    }
    &:hover {
        background-color: #efefef;
    }
}

.edit-page {
    .buttons {
        height: 130px;
    }
    .save-note, .cancel-note, .delete-note, .edit {
        display: block;
    }
    .new-note, .notes {
        display: none;
    }
}
.edit {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 155px);
    border: 2px grey solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    &__info {
        display: none;
        color: red;
        font-weight: 700;
    }
    &__title {
        width: 100%;
        font-size: 15px;
        font-weight: 700;
        border: 2px solid #e6e6e6;
        border-radius: 5px;
        padding: 5px;
        margin: 5px 0;
    }
    &__todo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
        input:nth-child(1) {
            height: 20px;
            width: 20px;
        }
        input:nth-child(2) {
            width: 100%;
            padding: 5px;
            margin: 0 5px;
            border: 2px solid #e6e6e6;
            border-radius: 5px;
        }
        &>input:nth-child(1):checked+input:nth-child(2){
            font-style: italic;
        }
    }
    &__buttons {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content:space-between;
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
    &__cancel, &__repeat {
        width: 18.5%;
        height: 100%;
        border-radius: 5px;
    }
    &__cancel img {
        transform: scale(-1, 1)
    }
    &__add-todo {
        width: 60%;
        height: 100%;
        border-radius: 5px;
    }
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s all;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
    &-inner {
        background-color: white;
        border-radius: 10px;
        width: 320px;
        max-width: 92%;
        padding: 30px 20px;
        text-align: center;
        opacity: 0;
        pointer-events: none;
        position: relative;
        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }
    span {
        display: none;
    }
    &__exit {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 10px;

    }
    &__buttons {
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        button {
            width: 40%;
            padding: 15px;
            border-radius: 10px;
        }
    }
}
.it {
    font-style: italic;
}

@media (min-width: $SmallWidth) {
    .wrap {
        padding: 2.5vw;
    }
    .buttons {
        flex-direction: row;
        margin-bottom: 1vw;
        height: 70px;
        button {
            width: 46.5vw;
            height: 100%;
        }
    }
    .edit-page .buttons {
        height: 70px;
        margin-bottom: 2vw;
        button {
            width: 32%;
        }
    }
    .notes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .note {
        width: 46.5vw;
        max-height: 46.5vw;
        font-size: 15.5px;
        margin: 1vw 0;
        &__title {
            padding-bottom: 5px;
        }
    }
    .edit {
        min-height: calc(100vh - 5vw - 80px);
        padding: 11px;
        font-size: 16.5px;
        &__title {
            font-size: 16.5px;
            padding: 7px;
        }
        &__todos {
            padding-top: 10px;
        }
        &__todo {
            padding-bottom: 10px;
            input:nth-child(1), button {
                height: 30px;
                width: 30px;
            }
        }
        &__buttons {
            height: 35px;
        }
        &__cancel, &__repeat {
            width: 19%;
        }
    }
}
@media (min-width: $MediumWidth) {
    .wrap {
        padding: 2.25vw;
    }
    .buttons {
        margin-bottom: 1vw;
        button {
            width: 30.5vw;
        }
    }
    .edit-page .buttons {
        margin-bottom: 2vw;
    }
    .note {
        width: 30.5vw;
        max-height: 30.5vw;
        margin: 1vw 0;
        font-size: 16px;
    }
    .edit {
        min-height: calc(100vh - 6.5vw - 70px);
        padding: 12px;
        font-size: 18px;
        &__title {
            font-size: 18px;
            padding: 9px;
        }
        &__buttons {
            height: 40px;
            width: 66.7%;
        }
    }
}
@media (min-width: $XMediumWidth) {
    .wrap {
        padding: 2vw;
    }
    .buttons {
        margin-bottom: .9vw;
        button {
            width: 22.65vw;
        }
    }
    .edit-page .buttons {
        margin-bottom: 1.8vw;
    }
    .note {
        width: 22.65vw;
        max-height: 22.65vw;
        margin: .9vw 0;
        font-size: 16.5px;
    }
    .edit {
        min-height: calc(100vh - 5.8vw - 70px);
        padding: 13px;
        font-size: 19.5px;
        &__title {
            font-size: 19.5px;
            padding: 11px;
        }
        &__todo {
            input:nth-child(1), button {
                height: 35px;
                width: 35px;
            }
        }
        &__buttons {
            width: 50%;
            height: 45px;
        }
    }
}
@media (min-width: $LargeWidth) {
    .wrap {
        padding: 1.75vw;
    }
    .buttons {
        margin-bottom: .8vw;
        button {
            width: 18.02vw;
        }
    }
    .edit-page .buttons {
        margin-bottom: 1.6vw;
        button {
            width: 31.1vw;
        }
    }
    .note {
        width: 18.02vw;
        max-height: 18.02vw;
        margin: .8vw 0;
        font-size: 17px;
    }
    .edit {
        min-height: calc(100vh - 5.1vw - 70px);
        padding: 14px;
        font-size: 21px;
        &__title {
            font-size: 21px;
            padding: 13px;
        }
        &__todos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__todo {
            width: 49%;
        }
        &__buttons {
            width: 41%;
            height: 50px;
            border-radius: 10px;
        }
    }
}
@media (min-width: $XLargeWidth) {
    .wrap {
        padding: 1.5vw;
    }
    .buttons {
        margin-bottom: .7vw;
        button {
            width: 15vw;
        }
    }
    .edit-page .buttons {
        margin-bottom: 1.4vw;
        button {
            width: 31.4vw;
        }
    }
    .note {
        width: 15vw;
        max-height: 15vw;
        margin: .7vw 0;
        font-size: 17.5px;
    }
    .edit {
        min-height: calc(100vh - 4.4vw - 70px);
        padding: 15px;
        font-size: 22.5px;
        &__title {
            font-size: 22.5px;
            padding: 15px;
        }
        &__buttons {
            width: 32%;
        }
    }
}